.hourly {
  position: relative;
  display: flex;
  align-items: last baseline;
}
.hourly h3 {
  font-weight: 300;
  color: var(--daily-secondary-color);
  position: absolute;
  top: 0.6rem;
}

.hourly-container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  column-gap: 0.9rem;
  position: relative;
}

.forecast-hourly {
  display: inline-block;
  border-radius: 4px;
  background: var(--background-container);
  text-align: center;
  padding: 0.8rem 0.2rem;
}

.forecast-hourly-time,
.forecast-hourly-desc {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--text-light-color);
}

.forecast-hourly-icon {
  width: 60px;
}

.forecast-hourly-temp {
  font-size: 1.2rem;
}

.forecast-hourly-desc {
  margin-top: 0.4rem;
  min-width: 120px;
}

@media only screen and (max-width: 670px) {
  .forecast-hourly {
    display: grid;
    max-width: 450px;
    grid-template-columns:
      1fr minmax(100px, 1fr) 1fr minmax(100px, 1fr)
      1fr 1fr;
    align-items: center;
    justify-self: center;
    grid-template-areas: ". left . center right .";
  }

  .forecast-hourly-time {
    font-size: 0.9rem;
    font-weight: 400;
    grid-area: left;
  }

  .forecast-hourly-temp {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    grid-area: center;
  }

  .forecast-hourly-icon {
    width: 35px;
    grid-area: right;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 460px) {
  .forecast-hourly-time {
    font-size: 0.95rem;
  }

  .forecast-hourly-temp {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .forecast-hourly-icon {
    width: 35px;
    margin-left: 0;
  }
}
