.hourly {
  display: flex;
  align-items: last baseline;
  position: relative;
}

.hourly h3 {
  font-weight: 400;
  color: var(--daily-secondary-color);
  position: absolute;
  top: 0.6rem;
}

.hourly-container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  column-gap: 0.6rem;
  position: relative;
}

.forecast-hourly {
  display: inline-block;
  border-radius: 7px;
  background: var(--background-container);
  text-align: center;
  padding: 0.8rem 0.2rem;
  min-width: 110px;
  height: 155px;
}

.forecast-hourly-time,
.forecast-hourly-desc {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--text-light-color);
}

.forecast-hourly-icon {
  width: 60px;
}

.forecast-hourly-temp {
  font-size: 1.2rem;
}

.forecast-hourly-desc {
  margin-top: 0.4rem;
}

@media only screen and (max-width: 1179px) {
  .hourly h3 {
    font-size: 1.05rem;
  }

  .hourly-container {
    column-gap: 0.5rem;
  }

  .forecast-hourly {
    padding: 0.8rem;
    min-width: 100px;
    height: 145px;
  }

  .forecast-hourly-time,
  .forecast-hourly-desc {
    font-size: 0.9375rem;
  }

  .forecast-hourly-icon {
    margin-top: 0.3rem;
    width: 50px;
  }

  .forecast-hourly-temp {
    font-size: 1rem;
  }

  .forecast-hourly-desc {
    margin-top: 0.25rem;
  }
}

@media only screen and (max-width: 669px) {
  .hourly h3 {
    font-size: 0.9375rem;
  }

  .forecast-hourly {
    padding: 0.7rem;
    min-width: 100px;
    height: 130px;
  }

  .forecast-hourly-time,
  .forecast-hourly-desc {
    font-size: 0.8438rem;
  }

  .forecast-hourly-icon {
    width: 45px;
    margin-top: 0.15rem;
  }

  .forecast-hourly-temp {
    margin-top: 0;
  }

  .forecast-hourly-desc {
    margin-top: 0.2rem;
  }
}

@media only screen and (max-width: 589px) {
  .hourly h3 {
    top: 0.5rem;
  }

  .hourly-container {
    column-gap: 0.35rem;
  }

  .forecast-hourly {
    min-width: 90px;
    padding: 0.7rem;
  }

  .forecast-hourly-time,
  .forecast-hourly-desc {
    font-size: 0.7813rem;
  }

  .forecast-hourly-temp {
    font-size: 0.9063;
    margin-top: 0.1rem;
  }

  .forecast-hourly-desc {
    margin-top: 0.25rem;
  }
}
