:root,
:root.dark {
  --background: #1d2024;
  --background-container: #202730;
  --borders: #f19657;
  --text-color: #f19657;
  --text-light-color: #f8c5a1;
  --icon-color: #f19657;
  --daily-secondary-color: #a5a5a5;
}
:root.light {
  --background: #fff;
  --background-container: #e6e8e8;
  /* --borders: #242425; */
  --borders: #e6e8e8;
  --text-color: #2e3535;
  --text-light-color: #676868;
  --icon-color: #777676;
  --daily-secondary-color: #6d6c6c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
}

body {
  /* background-image: url(../svg/weather.jpg); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.hidden {
  display: none;
}

.container {
  max-width: 1190px;
  height: 100%;
  width: 95%;
  margin: 0rem auto;
  /* padding-top: calc(100vh - 96vh); */
  /* position: relative; */
  display: grid;
  grid-template-columns:
    minmax(150px, 170px) minmax(150px, 170px) minmax(150px, 170px)
    minmax(150px, 170px) minmax(150px, 170px) minmax(150px, 170px) minmax(150px, 170px);
  grid-template-rows: 50px 210px 170px auto;
  grid-gap: 14px 14px;
  grid-template-areas:
    ". . . sh sh sh te"
    "cu cu cu hy hy hy hy"
    "dy dy fe hu wd pp uv"
    "dy dy mp mp mp mp mp";
}

.lightTheme-button,
.darkTheme-button {
  background: var(--background);
  outline: none;
  border: none;
  cursor: pointer;
}

.fa-moon,
.fa-sun {
  font-size: 22px;
}

/* MAP */

.map {
  height: 100%;
}

.centered-location {
  background: rgb(240, 240, 240);
  outline: none;
  border: none;
  border-radius: 2px;
  margin-right: 0.5rem;
  margin-bottom: 0.6rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 42px;
  height: 42px;
  position: relative;
}

.fa-location-crosshairs {
  font-size: 22px;
  color: rgb(93, 93, 93);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.55rem;
}

.fa-location-crosshairs:hover {
  color: #282828;
}

@media only screen and (max-width: 1120px) {
  /* .container {
    border: 1px solid red;
    grid-template-columns:
      minmax(170px, 210px) minmax(150px, 175px)
      minmax(150px, 175p  x) minmax(150px, 175px);
    grid-template-rows: 30px 180px 170px 170px 230px;
    grid-template-areas:
      "sh sh te ."
      "cu dy dy hy"
      "sg fe hu hy"
      "wd pp . hy"
      "ct ct ct ct";
  } */
}

.theme,
.search,
.current,
.hourly,
.daily,
.feels-like,
.humidity,
.wind-speed,
.precipitation,
.uv,
.map {
  border: 1px solid var(--borders);
  border-radius: 7px;
  padding: 0.85rem;
}
.search {
  grid-area: sh;
}
.theme {
  grid-area: te;
}
.current {
  grid-area: cu;
}
.daily {
  grid-area: dy;
}
.hourly {
  grid-area: hy;
}
.feels-like {
  grid-area: fe;
}
.humidity {
  grid-area: hu;
}
.wind-speed {
  grid-area: wd;
}
.precipitation {
  grid-area: pp;
}
.uv {
  grid-area: uv;
}
.map {
  grid-area: mp;
}

@import url("./weatherDetails.css");

@import url("./weatherCurrent.css");

@import url("./searchLocation.css");

@import url("./dailyWeather.css");

@import url("./hourlyWeather.css");

@import url("./map.css");

@media only screen and (max-width: 670px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 460px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 90%;
  }
}

#loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #0b0b0b;
  width: 35px;
  height: 35px;
  background-color: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid red;
}
