.form {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.form input {
  border: none;
  background: transparent;
  border-bottom: 0.5px solid var(--text-light-color);
  outline: none;
  font-size: 1rem;
  width: 94%;
}

form input::placeholder {
  color: rgb(164, 161, 161);
  font-size: 0.9rem;
}

.form button {
  position: absolute;
  right: 0px;
  padding-top: 4px;
  background: none;
  border: none;
}

.theme {
  text-align: center;
  color: var(--text-color);
}

.theme-button i {
  font-size: 1.5rem;
}

.imgSvg {
  width: 40px;
}

.form #searchSvg {
  width: 20px;
  cursor: pointer;
  padding: 0;
}

/******* ERROR WITH LOCATION SEARCH ********/

.error-msg {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
}

.err-container {
  position: absolute;
  left: 44%;
  top: 5rem;
  background: rgb(242, 242, 242);
  border: 1px solid grey;
  border-radius: 10px;
  width: 220px;
  z-index: 2;
  padding: 1.1rem 1.3rem;
}

.err-container:before {
  position: absolute;
  top: -2.2rem;
  left: 15px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 30px solid rgb(242, 242, 242);
  content: "";
}

.err-container p {
  color: #000;
  font-size: 0.85rem;
  width: 85%;
}

.close {
  color: #a1a1a3;
  font-weight: bold;
  float: right;
  font-size: 24px;
  position: relative;
  bottom: 0.7rem;
  left: 0.4rem;
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

@media only screen and (max-width: 670px) {
  .form {
    margin-top: -0.05rem;
  }

  .form input {
    font-size: 0.85rem;
    padding: 0.5rem 1rem 0.1rem 0;
  }

  form input::placeholder {
    font-size: 0.85rem;
    padding-left: 0.2rem;
  }

  .form button {
    right: 0;
  }

  .form #searchSvg {
    width: 1.1rem;
    height: 1.1rem;
    margin: 7px 0 0 0;
  }
}

@media only screen and (max-width: 460px) {
  .form {
    margin-top: 0rem;
  }

  .form input {
    font-size: 0.8rem;
    padding: 0.5rem 1rem 0.1rem 0;
    border-bottom: 0.4px solid #414141;
    min-width: 125px;
  }

  form input::placeholder {
    font-size: 0.8rem;
    padding-left: 0.2rem;
  }

  .form button {
    right: 0.2rem;
  }

  .form #searchSvg {
    width: 0.95rem;
    height: 0.95rem;
    margin: 6px 0 0 0;
  }
}
