.current {
  display: flex;
  justify-content: space-between;
}

/* ============ LEFT CONTAINER ============ */

.left-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.current .city {
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  top: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
}

.current .state {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
  position: relative;
  top: 3rem;
}

.current .date-time {
  font-size: 0.95rem;
  display: inline-flex;
  font-weight: 300;
  margin-left: 0.1rem;
}

.current .date,
.current .time {
  color: var(--text-light-color);
}

.current .time {
  margin-left: 0.25rem;
}

.sun-day-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.day-temp {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  /* bottom: 0.2rem; */
}

.day-temp > div {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
}

.day-temp > div > span {
  color: var(--text-color);
  font-size: 1.05rem;
  font-weight: 400;
}

.sun-timing {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.sunrise,
.sunset {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.sunrise img,
.sunset img {
  width: 60px;
  position: relative;
  top: 0.7rem;
}
.sunrise div,
.sunset div {
  position: relative;
}

.sunrise h4,
.sunset h4 {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--text-light-color);
  top: 0.2rem;
}

.sunrise-time,
.sunset-time {
  font-size: 1.05rem;
  margin: 0;
  position: relative;
  top: -0.1rem;
}

/* ============ RIGHT CONTAINER ============ */

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.icon-desc-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.current .icon {
  width: 115px;
  position: absolute;
  top: -1.9rem;
}

.current .description {
  font-size: 1.1rem;
  font-weight: 200;
  position: relative;
  top: 4.8rem;
  /* right: 0; */
  text-align: center;
}

.current .temperature-container {
  display: inline-flex;
  position: relative;
  justify-content: right;
  top: -0.7rem;
}

.current .temperature {
  font-size: 4.5rem;
  font-weight: 700;
  position: relative;
  left: 0.25rem;
}

.current .degree {
  font-size: 2rem;
  position: relative;
  top: 0.2rem;
}

@media only screen and (max-width: 670px) {
  .current .temperature {
    font-size: 2.5rem;
  }

  .current .degree {
    font-size: 1.6rem;
    top: 0.3rem;
    left: 3.15rem;
  }
  .current .celcius {
    font-size: 1.6rem;
    top: 0.8rem;
    left: 3.1rem;
  }

  .current .city {
    font-size: 1.4rem;
    margin-top: 0.2rem;
  }

  .current .date {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }

  .current .time {
    margin-left: 0.2rem;
  }

  .current .description {
    font-size: 1.3rem;
    margin-top: -0.4rem;
    margin-right: 0rem;
  }

  .current .icon {
    width: 55px;
    height: 50px;
    margin-top: 0.1rem;
  }
}

@media only screen and (max-width: 460px) {
  .current .icon {
    width: 60px;
    height: 42px;
    margin-top: 0.15rem;
  }

  .current .description {
    font-size: 1.25rem;
    margin-top: -0.1rem;
    font-weight: 600;
    margin-right: 0;
  }

  .current .temperature {
    font-size: 2.3rem;
  }

  .current .degree {
    font-size: 1.7rem;
    top: 0.2rem;
    left: 2.85rem;
    font-weight: 400;
  }

  .current .celcius {
    font-size: 1.4rem;
    top: 0.8rem;
    left: 2.85rem;
    font-weight: 400;
  }

  .current .city {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    font-weight: 600;
  }

  .current .date {
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }

  .current .time {
    margin-left: 0.17rem;
  }
}

@media only screen and (max-width: 360px) {
  .current .city {
    font-size: 1.15rem;
  }

  .current .description {
    font-size: 1.15rem;
  }
}
