.current {
  display: flex;
  justify-content: space-between;
}

/* ============ LEFT CONTAINER ============ */

.left-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.current .date-time {
  font-size: 0.95rem;
  display: inline-flex;
  font-weight: 300;
  margin-left: 0.1rem;
}

.current .date,
.current .time {
  color: var(--text-light-color);
}

.current .time {
  margin-left: 0.25rem;
}

.current .city {
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
}

.current .state {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
  margin-top: 2.3rem;
  margin-left: 0.1rem;
}

/* .sun-day-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
} */

.day-temp {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  top: 0.5rem;
}

.day-temp > div {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
}

.day-temp > div > span {
  color: var(--text-color);
  font-size: 1.05rem;
  font-weight: 400;
}

.sun-timing {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.sunrise,
.sunset {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.sunrise img,
.sunset img {
  width: 60px;
  position: relative;
  top: 0.7rem;
}
.sunrise div,
.sunset div {
  position: relative;
}

.sunrise h4,
.sunset h4 {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--text-light-color);
  top: 0.2rem;
}

.sunrise-time,
.sunset-time {
  font-size: 1.05rem;
  margin: 0;
  position: relative;
  top: -0.1rem;
}

@media only screen and (max-width: 1179px) {
  .current .date-time {
    font-size: 0.9rem;
    margin-left: 0.1rem;
  }
  .current .time {
    margin-left: 0.15rem;
  }
  .current .city {
    font-size: 2.4rem;
    top: 0.85rem;
    width: 250px;
    font-weight: 600;
  }
  .current .state {
    font-size: 0.9rem;
    margin-top: 1.8rem;
    margin-left: 0.1rem;
  }
  .day-temp {
    column-gap: 17px;
  }
  .day-temp > div {
    font-size: 0.9rem;
  }
  .day-temp > div > span {
    font-size: 1rem;
    font-weight: 300;
  }
  .sunrise img,
  .sunset img {
    width: 50px;
    position: relative;
    top: 0.4rem;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.9rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 1rem;
    font-weight: 300;
  }
}

/* ============ RIGHT CONTAINER ============ */

.right-container {
  display: flex;
  flex-direction: column;
}

.current .temperature-container {
  display: inline-flex;
  position: relative;
  justify-content: right;
  top: -0.7rem;
}

.current .temperature {
  font-size: 4.2rem;
  font-weight: 700;
  position: relative;
  left: 0.25rem;
}

.current .degree {
  font-size: 1.8rem;
  position: relative;
  top: 0.3rem;
}

.icon-desc-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.current .icon {
  width: 100px;
  position: absolute;
  right: 0;
  top: 1rem;
}

.current .description {
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 979px) and (max-width: 1179px) {
  .current .temperature-container {
    top: -0.2rem;
  }

  .current .temperature {
    font-size: 3.4rem;
    font-weight: 600;
  }

  .current .degree {
    font-size: 1.6rem;
    top: 0.2rem;
  }

  .icon-desc-container {
    margin-top: 0.4rem;
  }

  .current .description {
    font-size: 1rem;
    font-weight: 300;
  }

  .current .icon {
    width: 85px;
    margin-top: 0.3rem;
  }
}

@media only screen and (max-width: 979px) {
  .current {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 25px 52px 25px 50px;
    grid-gap: 0 20px;
  }

  .left-container {
    display: contents;
    position: static;
  }

  .right-container {
    display: contents;
  }

  .icon-desc-container {
    display: contents;
    flex-direction: column;
    position: static;
    justify-self: right;
  }

  .current .icon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 90px;
    margin: 0;
    position: relative;
    justify-self: center;
    top: -0.8rem;
  }

  .current .description {
    font-size: 1.05rem;
    font-weight: 300;
    text-align: right;
    margin: 0;
    padding: 0;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .sun-timing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }

  .sunrise,
  .sunset {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .sunrise img,
  .sunset img {
    width: 55px;
    position: relative;
    top: 0.6rem;
  }
  .sunrise div,
  .sunset div {
    position: static;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.95rem;
    font-weight: 300;
    color: var(--text-light-color);
    top: 0.2rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 1.05rem;
    /* margin: 0; */
    position: static;
  }

  .day-temp {
    flex-direction: column;
    position: static;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    justify-content: center;
  }

  .day-temp > div {
    color: var(--text-light-color);
    font-weight: 300;
    font-size: 0.95rem;
  }

  .day-temp > div > span {
    color: var(--text-color);
    font-size: 1.05rem;
    font-weight: 300;
  }

  .current .temperature-container {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-content: left;
    position: static;
    margin: 0;
    padding: 0;
  }

  .current .temperature {
    font-size: 4rem;
    font-weight: 600;
    text-align: start;
    left: 0;
    top: -0.2rem;
    padding: 0;
    margin: 0;
  }

  .current .degree {
    font-size: 1.8rem;
    top: 0;
  }

  .date-time {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }

  .current .date,
  .current .time {
    color: var(--text-color);
    font-size: 1.05rem;
  }

  .current .time {
    margin-left: 0.2rem;
  }

  .current .city {
    position: static;
    font-weight: 600;
    font-size: 2.8rem;
    width: auto;
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 3 / 4;
  }

  .current .state {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    font-size: 1.05rem;
    margin: 0;
    text-align: center;
    color: var(--text-color);
  }
}

@media only screen and (max-width: 460px) {
  .current .icon {
    width: 60px;
    height: 42px;
    margin-top: 0.15rem;
  }

  .current .description {
    font-size: 1.25rem;
    margin-top: -0.1rem;
    font-weight: 600;
    margin-right: 0;
  }

  .current .temperature {
    font-size: 2.3rem;
  }

  .current .degree {
    font-size: 1.7rem;
    top: 0.2rem;
    left: 2.85rem;
    font-weight: 400;
  }

  .current .celcius {
    font-size: 1.4rem;
    top: 0.8rem;
    left: 2.85rem;
    font-weight: 400;
  }

  .current .city {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    font-weight: 600;
  }

  .current .date {
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }

  .current .time {
    margin-left: 0.17rem;
  }
}

@media only screen and (max-width: 360px) {
  .current .city {
    font-size: 1.15rem;
  }

  .current .description {
    font-size: 1.15rem;
  }
}
