.weather-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-detail-container h3 {
  font-weight: 400;
  color: var(--text-light-color);
  font-size: 0.95rem;
}

.img2Svg {
  width: 70px;
}

.h4 {
  font-size: 1.24rem;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 1179px) {
  .weather-detail-container h3 {
    font-size: 0.95rem;
  }

  .img2Svg {
    width: 65px;
  }

  .h4 {
    font-size: 1.15rem;
    text-align: center;
  }
}

@media only screen and (max-width: 979px) {
  .weather-detail-container h3 {
    font-size: 0.91rem;
  }
}

@media only screen and (max-width: 669px) {
  .weather-detail-container h3 {
    font-size: 0.8125rem;
  }

  .h4 {
    font-size: 1.05rem;
  }

  .img2Svg {
    width: 60px;
  }
}

@media only screen and (max-width: 589px) {
  .weather-detail-container {
    flex-direction: row-reverse;
    position: relative;
  }

  .weather-detail-container h3 {
    font-size: 0.8125rem;
    position: relative;
    font-weight: 300;
    top: -0.8rem;
  }

  .weather-detail {
    position: inherit;
  }

  .h4 {
    font-size: 1rem;
    position: absolute;
    top: 1.5rem;
    left: 100%;
  }

  .img2Svg {
    max-width: 50px;
    width: 100%;
    height: 100%;
  }

  .uv {
    flex-direction: column;
    row-gap: 0.35rem;
  }

  .uv h3 {
    position: static;
  }

  .uv .img2Svg {
    width: 100%;
    height: auto;
  }

  .uv .weather-detail {
    position: static;
  }

  .uv h4 {
    margin-top: 0.3rem;
    position: static;
  }
}

@media only screen and (max-width: 440px) {
  .weather-detail-container h3 {
    font-size: 0.7188rem;
    top: -0.6rem;
  }
  .img2Svg {
    max-width: 45px;
    margin-top: 0.2rem;
  }

  .h4 {
    font-size: 0.875rem;
    top: 1.5rem;
  }
}
