.current {
  display: flex;
  justify-content: space-between;
}

/* ============ LEFT CONTAINER ============ */

.left-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.current .date-time {
  font-size: 0.95rem;
  display: inline-flex;
  font-weight: 300;
  margin-left: 0.1rem;
}

.current .date,
.current .time {
  color: var(--text-light-color);
}

.current .time {
  margin-left: 0.25rem;
}

.current .city {
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  color: var(--text-color);
}

.current .state {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
  margin-top: 2.3rem;
  margin-left: 0.1rem;
}

.day-temp {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  top: 0.5rem;
}

.day-temp > div {
  color: var(--text-light-color);
  font-weight: 300;
  font-size: 0.95rem;
}

.day-temp > div > span {
  color: var(--text-color);
  font-size: 1.05rem;
  font-weight: 400;
}

.sun-timing {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.sunrise,
.sunset {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.sunrise img,
.sunset img {
  width: 60px;
  position: relative;
  top: 0.7rem;
}
.sunrise div,
.sunset div {
  position: relative;
}

.sunrise h4,
.sunset h4 {
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--text-light-color);
  top: 0.2rem;
}

.sunrise-time,
.sunset-time {
  font-size: 1.05rem;
  margin: 0;
  position: relative;
  top: -0.1rem;
  font-weight: 400;
  color: var(--text-color);
}

@media only screen and (max-width: 1179px) {
  .current .date-time {
    font-size: 0.9rem;
    margin-left: 0.1rem;
  }
  .current .time {
    margin-left: 0.15rem;
  }
  .current .city {
    font-size: 2.4rem;
    top: 0.85rem;
    width: 250px;
    font-weight: 600;
  }
  .current .state {
    font-size: 0.9rem;
    margin-top: 1.8rem;
    margin-left: 0.1rem;
  }
  .day-temp {
    column-gap: 17px;
  }
  .day-temp > div {
    font-size: 0.9rem;
  }
  .day-temp > div > span {
    font-size: 1rem;
  }
  .sunrise img,
  .sunset img {
    width: 50px;
    position: relative;
    top: 0.4rem;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.9rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 1rem;
  }
}

/* ============ RIGHT CONTAINER ============ */

.right-container {
  display: flex;
  flex-direction: column;
}

.current .temperature-container {
  display: inline-flex;
  position: relative;
  justify-content: right;
  top: -0.7rem;
}

.current .temperature {
  font-size: 4.2rem;
  font-weight: 700;
  position: relative;
  left: 0.25rem;
  color: var(--text-color);
}

.current .degree {
  font-size: 1.6rem;
  position: relative;
  top: 0.4rem;
  right: -0.2rem;
  color: var(--text-color);
}

.icon-desc-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.current .icon {
  width: 100px;
  position: absolute;
  right: 0;
  top: 1rem;
}

.current .description {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--text-light-color);
}

@media only screen and (max-width: 1179px) {
  .current .temperature-container {
    top: -0.2rem;
  }

  .current .temperature {
    font-size: 3.4rem;
    font-weight: 600;
  }

  .current .degree {
    font-size: 1.5rem;
    top: 0.25rem;
  }

  .icon-desc-container {
    margin-top: 0.4rem;
  }

  .current .description {
    font-size: 1rem;
    font-weight: 300;
  }

  .current .icon {
    width: 85px;
    margin-top: 0.3rem;
  }
}

@media only screen and (max-width: 979px) {
  .current {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  .left-container {
    display: contents;
    position: static;
  }

  .right-container {
    display: contents;
  }

  .icon-desc-container {
    display: contents;
    flex-direction: column;
    position: static;
  }

  .current .icon {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    width: 65%;
    margin: 0;
    padding: 0;
    position: static;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .current .description {
    font-size: 1rem;
    font-weight: 300;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: var(--text-light-color-secondary);
  }

  .sun-timing {
    display: flex;
    flex-direction: row;
    justify-content: left;
    grid-column: 4 / 5;
    grid-row: 6 / 7;
  }

  .sunrise,
  .sunset {
    display: flex;
    flex-direction: row;
  }

  .sunrise img,
  .sunset img {
    width: 45px;
    position: relative;
    top: 0.6rem;
  }
  .sunrise div,
  .sunset div {
    position: static;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--text-light-color-secondary);
  }

  .sunrise-time,
  .sunset-time {
    font-size: 0.9375rem;
    margin: 0;
    position: static;
    color: var(--text-color-secondary);
  }

  .day-temp {
    flex-direction: row;
    position: static;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    align-items: end;
    justify-content: center;
  }

  .day-temp > div {
    font-weight: 300;
    font-size: 0.9375rem;
    color: var(--text-light-color-secondary);
  }

  .day-temp > div > span {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color-secondary);
  }

  .current .temperature-container {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    justify-content: center;
    position: static;
    margin: 0;
    padding: 0;
  }

  .current .temperature {
    font-size: 4rem;
    font-weight: 600;
    text-align: start;
    left: 0;
    padding: 0;
    margin: 0;
    color: var(--text-color-secondary);
  }

  .current .degree {
    font-size: 1.35rem;
    top: 0.45rem;
    right: 0rem;
    font-weight: 300;
    color: var(--text-color-secondary);
  }

  .date-time {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-content: center;
  }

  .current .date,
  .current .time {
    font-size: 1rem;
    color: var(--text-light-color-secondary);
  }

  .current .time {
    margin-left: 0.2rem;
  }

  .current .city {
    position: static;
    font-weight: 600;
    font-size: 2.5rem;
    width: auto;
    text-align: center;
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    color: var(--text-color-secondary);
  }

  .current .state {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    font-size: 1rem;
    position: relative;
    top: 0.4rem;
    text-align: center;
    margin: 0;
    color: var(--text-light-color-secondary);
  }
}

@media only screen and (max-width: 721px) {
  .sun-timing {
    flex-direction: row;
    justify-content: center;
    grid-row: 5 / 7;
    column-gap: 1rem;
    position: relative;
  }

  .sunrise,
  .sunset {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sunrise div,
  .sunset div {
    text-align: center;
  }

  .sunrise img,
  .sunset img {
    width: 45px;
    position: relative;
    top: 0rem;
    right: 0.2rem;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.875rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 0.9375rem;
    margin: 0;
  }
}

@media only screen and (max-width: 589px) {
  .current .icon {
    width: 80%;
    margin-right: 1rem;
  }

  .current .temperature-container {
    justify-content: left;
  }

  .current .description {
    font-size: 0.9063rem;
    text-align: left;
    margin-left: 0.2rem;
  }

  .sun-timing {
    justify-content: right;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.8124rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 0.875rem;
  }

  .day-temp {
    grid-row: 5 / 7;
    flex-direction: column;
    row-gap: 0.15rem;
    justify-content: end;
    align-items: start;
    margin-left: 0.2rem;
  }

  .day-temp > div {
    font-size: 0.8438rem;
  }

  .day-temp > div > span {
    font-size: 0.9063rem;
  }

  .current .temperature {
    font-size: 3.5rem;
  }

  .current .degree {
    font-size: 1.35rem;
  }

  .date-time {
    grid-column: 3 / 5;
    justify-content: right;
    margin-right: 1.5%;
  }

  .current .date,
  .current .time {
    font-size: 0.9063rem;
  }

  .current .city {
    font-size: 2.2rem;
    text-align: right;
  }

  .current .state {
    font-size: 0.9063rem;
    top: 0.25rem;
    text-align: right;
  }
}

@media only screen and (max-width: 489px) {
  .current .icon {
    width: 80%;
    margin-bottom: 1rem;
  }

  .current .description {
    font-size: 0.8438rem;
  }

  .sunrise h4,
  .sunset h4 {
    font-size: 0.75rem;
  }

  .sunrise-time,
  .sunset-time {
    font-size: 0.7813rem;
  }

  .day-temp > div {
    font-size: 0.7813rem;
  }

  .day-temp > div > span {
    font-size: 0.8438rem;
  }

  .current .temperature {
    font-size: 2.8rem;
  }

  .current .degree {
    font-size: 1.25rem;
    right: 0rem;
    top: 0.2rem;
  }

  .date-time {
    grid-column: 3 / 5;
    justify-content: right;
  }

  .current .date,
  .current .time {
    font-size: 0.8438rem;
  }

  .current .city {
    font-size: 1.7rem;
  }

  .current .state {
    font-size: 0.8438rem;
    top: -0.4rem;
  }
}
