/* .feels-like {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  row-gap: 20px;
  margin: 5rem 0 6rem 0;
  justify-items: center;
} */

.weather-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--background-container);
}

.weather-detail h3 {
  font-weight: 300;
  color: var(--daily-secondary-color);
  font-size: 0.95rem;
}

.weather-detail .img2Svg {
  width: 90px;
  position: relative;
  left: 0;
  right: 0;
}
.weather-detail h4 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 670px) {
  /* section {
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0 4rem 0;
  } */

  .weather-detail .img2Svg {
    width: 30px;
    height: 40px;
    margin-top: 0rem;
  }

  .weather-detail div {
    margin-left: 0.5rem;
  }

  .weather-detail h5 {
    font-size: 0.85rem;
    min-width: 75px;
  }

  .weather-detail h4 {
    font-size: 1.22rem;
    font-weight: 500;
    margin-top: 1.2rem;
  }

  /* .weather-details:last-of-type {
    position: relative;
  }

  .weather-details:last-of-type .img2Svg {
    position: absolute;
    left: -1.3rem;
  }

  .weather-details:last-of-type .weather-detail-data {
    margin-left: 1rem;
  } */
}

@media only screen and (max-width: 460px) {
  /* section {
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0 3.5rem 0;
  } */

  .weather-detail .img2Svg {
    width: 28px;
    height: 25px;
    margin-top: 0.16rem;
  }

  .weather-detail div {
    margin-left: 0.4rem;
  }

  .weather-detail h5 {
    font-size: 0.85rem;
    min-width: 75px;
  }

  .weather-detail h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  .weather-details:nth-of-type(3) {
    position: relative;
  }

  .weather-details:nth-of-type(3) .img2Svg {
    position: absolute;
    left: -0.5rem;
  }

  .weather-details:nth-of-type(3) .weather-detail-data {
    margin-left: 1.6rem;
  }

  .weather-details:last-of-type {
    position: relative;
  }

  .weather-details:last-of-type .img2Svg {
    position: absolute;
    left: -1.1rem;
  }

  .weather-details:last-of-type .weather-detail-data {
    margin-left: 1rem;
  }
}
